@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {

    font-family: 'Space Mono', monospace;
}
body {
    background-color: hsl(185, 41%, 84%);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.fonte-input {
    font-size: 24px;

}
.largura-titulo {
    width: 10rem;
}
.altura-botoes {
    height: 2.5rem;
}
.texto-cinza-escuro {
    color: hsl(183, 100%, 15%);
}
.texto-cinza-escuro:active {
    color: hsl(183, 100%, 15%);
}
.cinza-super-escuro:focus {
    background-color: hsl(183, 100%, 15%);
}
.fundo-branco {
    background-color: hsl(0, 0%, 100%);
}
.fundo-cinza-escuro {
    background-color: hsl(183, 100%, 15%);
}
.fundo-verde-claro:hover {
    background-color: hsl(172, 67%, 45%)
}
.fundo-verde-claro:active {
    background-color: hsl(185, 41%, 84%)
}
.fundo-cinza-claro{
    background-color: hsl(189, 41%, 97%);
}
.texto-branco {
    color: hsl(189, 41%, 97%);
}
.texto-cinza-claro {
    color: hsl(186, 14%, 43%);
}
.borda-arredondada-acima {
    border-radius: 18px 18px 0px 0px;
}
.borda-arredondada {
    border-radius: 15px;
}
.texto-branco-grande {
    color: hsl(172, 67%, 45%);
    font-size: 2rem;
}
.largura-conteudo {
    width: 95%;
}
.borda-arredondada-botao {
    border-radius: 6px;
}


